/API/api_eventos/bin/
/API/api_eventos/obj/
/API/api_eventos/static
API/api_eventos/bin/Debug/net8.0/api_eventos.dll
API/api_eventos/bin/Debug/net8.0/api_eventos.exe
API/api_eventos/bin/Debug/net8.0/api_eventos.pdb
